"# Visual Studio" 
".vs/" 
"Debug/" 
"Release/" 
"x64/" 
"x86/" 
"*.user" 
"*.suo" 
"*.sdf" 
"*.opensdf" 
"*.opendb" 
"" 
"# SFML libraries" 
"*.dll" 
"*.lib" 
"" 
"# Temporary files" 
"*.obj" 
"*.exe" 
"*.pdb" 
"*.ilk" 
"*.log" 
"*.tlog" 
"*.recipe" 
"*.idb" 
